# Base de datos
DB_NAME=eventos_db
DB_USER=postgres
DB_PASSWORD=tu_password_db
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/eventos_db
SPRING_PORT=8080
JWT_SECRET=cambia_este_secreto
JWT_EXPIRATION=86400000

# SMTP — Mailtrap (dev) / Brevo (prod)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=tu_usuario_mailtrap
MAIL_PASSWORD=tu_password_mailtrap
MAIL_FROM=no-reply@eventos.local
MAIL_SANDBOX=true

# QR
QR_API_URL=https://api.qrserver.com/v1/create-qr-code
QR_SIZE=300x300
QR_API_KEY=

# Cola asíncrona
QUEUE_DRIVER=database
QUEUE_RETRY_ATTEMPTS=3

